################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/geoportalLtTesting/bin/Debug
/geoportalLtTesting/obj/Debug
/geoportalLtTesting/screenshots
